################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab10/.vs/CopilotSnapshots/EA33FC6C11B5D54BA10801E507EBCFFD/62315B23783D6743942800266DFF9B85/336418B72C19D91E7BF4B7B7A1A88AD1
/Lab10/.vs
